<div class="header clearfix" xmlns="http://www.w3.org/1999/html">
    <a href="/" class="logo"></a>
    <ul class="menu">
        <li><a href={% url 'index' %} class="active">домой</a></li>
        <li><a href={% url 'products:index' %}>продукты</a></li>
        <li><a href={% url 'contacts' %}>контакты</a></li>

        {% if basket %}
        <li>
            <a href="{% url 'basket:view' %}">
                <span>
              {{ basket.0.total_cost|floatformat:0 }} руб
              ({{ basket.0.total_quantity }} шт)
        </span>
            </a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin_staff:users' %}">админка</a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' %}">
                            профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ordersapp:orders_list' %}">
                            заказы
                        </a>
                    </li>

                                        <li>
                        <a href="{% url 'auth:logout' %}">
                            выйти
                        </a>
                    </li>

                </ul>
            </div>
        </li>


        {% else %}
        <li>
            <a href="{% url 'auth:login' %}">войти</a>
        </li>
        {% endif %}


    </ul>
    <a href="#" class="search"></a>
</div>