{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
            <h3 class="green">Корзина</h3>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Товар</th>
            <th>количество</th>
            <th>цена за шт</th>
            <th>общая стоимость</th>
            <th>удалить</th>

        </tr>
        </thead>
        <tbody>
        {% for item in basket %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.product}}</td>
            <td><input type="edit" value="{{item.quantity}}"></td>
            <td>{{item.product.price}}</td>
            <td>{{item.product_cost}}</td>
            <td>{{item.product_cost}}</td>


        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clr"></div>

</div>
{% endif %}
{% endblock %}

