{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="categories_list">
    <button class="new_category">
        <a href="{% url 'admin_staff:category_create' %}">
        новая категория
        </a>
    </button>

    <table class="table table-striped table-hover">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название категории</th>
      <th scope="col">Изменить</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
      {% for object in objects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% if object.is_active %} {% url 'admin_staff:products' object.pk %} {% else %} # {% endif %} ">{{ object.name|title }} </a> </td>
      <td>{% if object.is_active %} <button>
                <a href="{% url 'admin_staff:category_update' object.pk %}">
                редактировать
                </a>
            </button> {% endif %}</td>
      <td>   {% if object.is_active %}         <button>
                <a href="{% url 'admin_staff:category_delete' object.pk %}">
                удалить
                </a>
            </button> {% endif %}</td>
    </tr>
     {% endfor%}
  </tbody>

</table>

</div>
{% include 'adminapp/includes/inc_pagination.html' %}
{% endblock %}